.control-header {
    display: flex;
    flex-direction: column;

    .site-title {
        margin: 0 auto;
        font-size: $font-size__header;
        font-family: $font-family__headings;
        a {
            text-decoration: none;
            color: $color__title;  
        }
    }

    .search-bar {
        margin: 0 auto;
        padding-top: $padding__search_bar;
        form {
            width: 100%;
        }

        .control-search {
            display: flex;
            width: 100%;
            
            flex-wrap: wrap;
            input {
                @include breakpoint-up(sm) {
                    flex: 0 0 70%;
                    max-width:70%;

                }     
                &:focus {
                    box-shadow: 0 0 0 2px rgba($color__white, .4);;
                }  
                flex: 0 0 100%;  
                border: 1px solid $color__white;       
            }
            button {
                @include breakpoint-up(sm) {
                    flex: 0 0 30%;
                   
                    max-width:30%                  
                }
                flex: 0 0 auto;
                border-color: $color__white;
                margin: 0 auto;
            }
        }

        button {
            &::before {
                content: $icon__search;
                font-family: $font-family__icons;
                padding-right: $padding__search_icon;
            }
        }
    }
}