// Available color variables
// Aiming for “AA” of WCAG. 
// Test - http://colorsafe.co/
$color__white:         white;
$color__fiord:         #4F5A65;
$color__black-russian: #202124;
$color__shuttle-grey:  #5f6368;
$color__grey:          #767676;
$color__royal-blue:    #1C5AEA;
$color__matisse:       #376089;
$color__dim-grey:      #696969;
$color__gainsboro:     #DCDCDC;
$color__dark-gray:     #A9A9A9;
$color__light-yellow:  #778899;
