// Colorings for draft purposes
#app {
    background: $color__gainsboro;
}

.page-header {
    background: $color__light-yellow;

}

.aside {

    .container {
        background: white;
    }
}

.main {

    .container {}
}

.page-footer {
    background: $color__light-yellow;
}
